// material palette
// for text, naming scheme is: `text-identifier`-`color-reference-of-background`
$primary-color = #02786C
$primary-light = #49a89a
$primary-dark = #004b41
$title-on-primary = #aeaeae
$title-on-primary-light = #343434
$title-on-primary-dark = #dedede
$text-on-primary = #ffffff 

$secondary-color = #E040FB
$secondary-light = #ff79ff
$secondary-dark = #a900c5
$title-on-secondary = #212121
$text-on-secondary = #000000

$link-primary = #42b983

$primary-background = #aaaaaa 

$title-background-light = #a0a0a0
$title-background-dark = #505050
$title-background-border = #101010

$footer-background = #242424
$footer-maintext = #5a5a5a
