$link-primary = #42b983

$home-background = #757575

$footer-background = #242424
$footer-maintext = #5a5a5a

$title-color = #7567575
$title-background-dark = #454545
$title-background-light = #959595
$title-background-border = #353535