// fonts

// @font-face
//   font-family MercadoOne
//   src url('~/font-awesome/fonts/FontAwesome.otf')
  // src url('~/../src/assets/fonts/SupermercadoOne-Regular.ttf')


// footer
$footer-height = 120px
