// load external stylesheets
@import 'bootstrap/dist/css/bootstrap.css'
@import 'bootstrap-vue/dist/bootstrap-vue.css'
@import 'font-awesome/css/font-awesome.css'

// fonts
@font-face
  font-family 'SupermercadoOne-Regular'
  src url('~fonts/SupermercadoOne-Regular.ttf')

// footer
$footer-height = 120px
