fader(start_opacity=1)
  @keyframes easeFade
    0%
      opacity start_opacity
    100%
      opacity 'calc(1 - %s)' % start_opacity

backgroundGradienter(first_light, first_dark, first_border, second_light, second_dark, second_border)
  @keyframes easeBackgroundGradient
    0%
      background 'radial-gradient(%s 20%, %s 90%, %s 95%, #000 100%)' % (first_light first_dark first_border)
    100%
      background 'radial-gradient(%s 20%, %s 90%, %s 95%, #000 100%)' % (second_light second_dark second_border)