@keyframes ease-fade
	0%
		opacity 0
	50%
		opacity 1
	100%
		opacity 0

@keyframes ease-background-gradient(@first_light, @first_dark, @first_border, @second_light, @second_dark, @second_border)
	0%
    background radial-gradient(@first_light 20%, @first_dark 90%, @first_border 95%, #000 100%)
  100%
    background radial-gradient(@second_light 20%, @second_dark 90%, @second_border 95%, #000 100%)